{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
<meta charset="UTF-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>NFR Portal</title>
{% block content %}
<div id="main">
   <style type="text/css">
      /* file upload button */
      input[type="file"]::file-selector-button {
      border-radius: 4px;
      padding: 0 16px;
      height: 40px;
      cursor: pointer;
      background-color: lightgray;
      border: 1px solid rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
      margin-right: 16px;
      transition: background-color 200ms;
      }
   </style>
   <style>
      /* Make the font size larger */
      .custom-select {
      font-size: 1.25rem; /* Increase font size */
      padding: 0.75rem; /* Increase padding to enlarge the select box */
      height: auto; /* Ensure height adjusts properly */
      width: 100%; /* Ensure the dropdown takes full width */
      }
   </style>
   <style>
      /* Common alert box styles */
      .alert-box {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      padding: 20px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      display: none;
      z-index: 1050; /* Ensure it appears above other content */
      }
      .alert-box.success {
      background-color: #28a745; /* Green for success */
      }
      .alert-box.error {
      background-color: #dc3545; /* Red for error */
      }
      .alert-box .alert-header {
      font-weight: bold;
      margin-bottom: 10px;
      }
      .alert-box .alert-button {
      display: block;
      margin: 10px auto 0;
      padding: 10px 20px;
      background-color: #fff;
      color: #000;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      }
      .alert-box .alert-button:hover {
      background-color: #f8f9fa;
      }
      /* Modal styles */
      .modal-dialog {
      max-width: 30%; /* Set the modal width to 30% */
      margin: auto; /* Center the modal horizontally */
      display: flex;
      align-items: center; /* Center the modal vertically */
      min-height: calc(100% - 10rem); /* Adjust the vertical centering */
      }
      .modal-content {
      border-radius: 0.25rem; /* Default border radius */
      }
      /* Header styles based on type */
      .modal-header.bg-success {
      background-color: #28a745; /* Success color */
      color: white; /* White text */
      }
      .modal-header.bg-danger {
      background-color: #dc3545; /* Danger color */
      color: white; /* White text */
      }
      /* Custom file input styles */
      .custom-file-input:lang(en) ~ .custom-file-label::after {
      content: "Browse"; /* Change the button text to "Browse" */
      }
      .custom-file-label {
      overflow: hidden; /* Prevent text overflow */
      }
   </style>
   <div class="container">
      <h1 class="mt-5">Upload Configuration File</h1>
      <p>
         This page allows you to upload a JSON configuration file for your application. You can choose to upload either a standard configuration file or a Postman collection.
         A configuration file helps the system recognize and apply certain rules, settings, and API interactions related to your application.
         If you’re uploading a Postman collection, it will be automatically transformed into a suitable configuration format for further processing.
         <br><br>
         Once the configuration file is uploaded and processed, you can view the details of the uploaded configuration on the
         <a href="index.html" class="text-primary">Configuration Dashboard</a>.
         This dashboard provides you with an overview of all configurations uploaded for different applications, allowing you to manage and monitor them easily.
      </p>
      <form id="upload-form" class="mt-3">
         <div class="form-group custom-select">
            <label for="appNameInput">Application Name:
            <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Select existing application or type to add the name of the application for which you're uploading the configuration."></i>
            </label>
            <select id="appNameInput" class="form-control" style="width: 100%">
               <!-- Options will be dynamically added via JavaScript -->
            </select>
         </div>
         <div class="custom-file mb-3">
            <label class="custom-file-label" for="file" id="file-label">Choose File
            <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Select a JSON configuration file or Postman collection to upload."></i>
            </label>
            <p style="background-color: antiquewhite; border-radius: 15px; padding: 7px;">
               <input type="file" class="custom-file-input" id="file" name="file" accept=".json" onchange="updateFileName()">
         </div>
         <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="isPostmanCollection">
            <label class="form-check-label" for="isPostmanCollection">Upload as Postman Collection
            <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Check this if the file you're uploading is a Postman collection."></i>
            </label>
         </div>
         <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
      </form>
      <script>
         function updateFileName() {
             var input = document.getElementById('file');
             var label = document.getElementById('file-label');
             var fileName = input.files[0]?.name || 'Choose File';
             label.innerText = fileName;
         }
      </script>
      <h2 class="mt-5">Download Templates
              <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Download blank template to edit or select application to download its config file"></i>
      </h2>
      <p><a href="/static/config/template/template.json" download class="btn btn-info">Download Template JSON</a>
        <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Download blank template configuration file."></i>
      </p>
      <p><a href="#" id="downloadJson" class="btn btn-info" download>Download Most Recent JSON</a>
              <i class="bi bi-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Select application in dropdown for which want to download the configuration."></i>
      </p>
   </div>
   <!-- Confirmation Modal -->
   <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="confirmationModalLabel">Warning</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Do you want to download the existing configuration file before uploading?</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" id="downloadFirst">Download First</button>
               <button type="button" class="btn btn-primary" id="dontCare">I Don't Care, Upload Anyway</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Alert Modal -->
   <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div id="alertModalHeader" class="modal-header">
               <h5 id="alertModalTitle" class="modal-title"></h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p id="alertModalMessage"></p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" id="alertModalButton">OK</button>
            </div>
         </div>
      </div>
   </div>
   <script>
      document.getElementById('downloadJson').addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default link behavior

          // Get the selected application name from the dropdown
          var appName = document.getElementById('appNameInput').value;

          // Check if appName is empty
          if (!appName) {
              showConfirmation('Please provide a valid application name.','Error');
              return;
          }

          // Convert the application name to lowercase
          var lowercaseAppName = appName.toLowerCase().replace(/\s+/g, '_');

          // Construct the download URL
          var downloadUrl = 'static/config/' + lowercaseAppName + '_config_file.json';

          // Create an anchor element and trigger the download
          var downloadLink = document.createElement('a');
          downloadLink.href = downloadUrl;
          downloadLink.download = lowercaseAppName + '_config_file.json';
          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
      });
      // Function to show the alert modal
      function showAlert(message, type) {
          var alertModal = $('#alertModal');
          var alertModalHeader = $('#alertModalHeader');
          var alertModalTitle = $('#alertModalTitle');
          var alertModalMessage = $('#alertModalMessage');
          var alertModalButton = $('#alertModalButton');

          // Set the header and background color based on type
          if (type === 'success') {
              alertModalHeader.removeClass('bg-danger').addClass('bg-success');
              alertModalTitle.text('Success');
          } else if (type === 'error') {
              alertModalHeader.removeClass('bg-success').addClass('bg-danger');
              alertModalTitle.text('Error');
          }

          alertModalMessage.text(message);
          alertModal.modal('show');

          // Hide the modal after 5 seconds if not clicked
          var hideTimeout = setTimeout(function() {
              alertModal.modal('hide');
          }, 5000);

          // Hide the modal when the OK button is clicked
          alertModalButton.on('click', function() {
              clearTimeout(hideTimeout);
              alertModal.modal('hide');
          });
      }

       document.addEventListener("DOMContentLoaded", function () {
          const appNameDropdown = document.querySelector('#appNameDropdown'); // Replace with the actual ID of your dropdown

          // Listen for focusout event when clicking outside the dropdown
          appNameDropdown.addEventListener('focusout', function (event) {
            const typedValue = appNameDropdown.value;
            if (typedValue !== '') {
              appNameDropdown.value = typedValue;
            }
          });
        });

      $(document).ready(function() {
          // Initialize Select2 for the appNameInput
          $.getJSON('static/config/app_config.json', function(data) {
              var appNames = data.applications.map(function(app) {
                  return { id: app.name.toLowerCase(), text: app.name };
              });

              $('#appNameInput').select2({
                  data: appNames,
                  placeholder: 'Select or type an application name',
                  tags: true,
                  allowClear: true,
                  createTag: function(params) {
                      var term = $.trim(params.term);
                      if (term === '') {
                          return null;
                      }
                      return { id: term, text: term, newTag: true };
                  }
              });
          }).fail(function(jqXHR, textStatus, errorThrown) {
              console.error('Error loading app_config.json:', textStatus, errorThrown);
          });

          // Handle file upload form submission
          $('#upload-form').submit(function(event) {
              event.preventDefault();

              // Show confirmation modal
              $('#confirmationModal').modal('show');
          });

          // Handle the "Download First" button
          $('#downloadFirst').click(function() {
              var lowercaseAppName = $('#appNameInput').val().toLowerCase();
              var downloadUrl = '/download/' + lowercaseAppName;

              // Create and click the download link
              var downloadLink = document.createElement('a');
              downloadLink.href = downloadUrl;
              downloadLink.download = lowercaseAppName + '_config_file.json';
              document.body.appendChild(downloadLink);
              downloadLink.click();
              document.body.removeChild(downloadLink);

              // Proceed with upload
              submitUpload();
              $('#confirmationModal').modal('hide');
          });

          // Handle the "I Don't Care" button
          $('#dontCare').click(function() {
              submitUpload();
              $('#confirmationModal').modal('hide');
          });

          function submitUpload() {
              var formData = new FormData();
              formData.append('file', $('#file')[0].files[0]);
              formData.append('appName', $('#appNameInput').val());
              formData.append('isPostman', $('#isPostmanCollection').is(':checked')); // Send checkbox status

              $.ajax({
                  url: '/upload',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(response) {
                      showAlert(response.message, 'success');
                  },
                  error: function(xhr, status, error) {
                      // Use the error message returned from the backend
                      var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred. Please try again.';
                      console.error('Error:', errorMessage);
                      showAlert(errorMessage, 'error');
                  }
              });
          }
      });
   </script>
</div>
{% endblock %}